In [1]:
import pandas as pd

In [2]:
races = ['n_white', 'n_black', 'n_hispanic']

In [3]:
df = pd.DataFrame({'name': ['bith', 'sith'], 'n_white': [2, 2], 'n_black': [2, 0], 'n_hispanic': [4, 1]})
df

   name  n_white  n_black  n_hispanic
0  bith        2        2           4
1  sith        2        0           1

In [4]:
pred_race = df[races].mean().argmax()
pred_race, races[pred_race]

(2, 'n_hispanic')

### The original with normalized

In [5]:
df['total_n'] = df.loc[:, races].sum(axis=1)
df.iloc[:, 1:] = df.iloc[:, 1:].div(df.total_n, axis=0)
df

   name   n_white  n_black  n_hispanic  total_n
0  bith  0.250000     0.25    0.500000      1.0
1  sith  0.666667     0.00    0.333333      1.0

In [6]:
pred_race = df[races].mean().argmax()
pred_race, races[pred_race]

(0, 'n_white')