# Data Prep

## Data Loading

In [1]:
import collections
import Levenshtein as lv
import multiprocessing as mp
import numpy as np
import pandas as pd
#from pathos.multiprocessing import ProcessingPool as Pool

from predict import predict_race
from predict import check_k
from keras.preprocessing import sequence
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer                                                             
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics.pairwise import cosine_similarity
from tqdm import tqdm

In [2]:
# Set this to True when you want to regenerate the Levenshtein Distance
#  otherwise will load csv file
REGEN = True

In [3]:
# Florida voter file
df = pd.read_csv('../dataverse_files/fl_reg_name_race.csv.gz')
df.dropna(subset=['name_last'], inplace=True)

sdf = df[df.race.isin(['multi_racial', 'native_indian', 'other', 'unknown']) == False]
del df

# Setting consistent case for names
sdf['name_last'] = sdf.name_last.str.lower()

# Remove unrequired first name
sdf.drop('name_first', axis=1, inplace=True)

sdf

            name_last      race
0              walker  nh_white
1              palmer  nh_white
2            mc cleod  nh_black
3         scarborough  nh_white
4              walker  nh_white
...               ...       ...
13653888     philpott  nh_white
13653889      walters  nh_white
13653890       sawyer  nh_white
13653891       thomas  nh_white
13653893       bruner  nh_white

[12989098 rows x 2 columns]

In [4]:
# check the different races filtered
sdf.race.value_counts()

nh_white    8714118
hispanic    2174408
nh_black    1847266
asian        253306
Name: race, dtype: int64

In [5]:
# Summing the count of each name & race combination
gdf = sdf.groupby(['name_last','race'], as_index=False)['race'].agg(['count'])

In [6]:
# creating a pivot table so that each name has a count of the # of races with that last name
gdf = gdf.pivot_table(values='count', columns='race',index='name_last')

# Converting NaN to zeros since that means there is no one that identifies with that race with that last name
gdf = gdf.fillna(0)

# Getting the totals of each last name
gdf['total_n'] = gdf.sum(axis=1)
gdf.reset_index(inplace=True)

In [7]:
gdf.head(15)

race,name_last,asian,hispanic,nh_black,nh_white,total_n
0,fleurime michel,0.0,0.0,1.0,0.0,1.0
1,franklin,0.0,0.0,1.0,0.0,1.0
2,grant cliatt,0.0,0.0,1.0,0.0,1.0
3,hassan,1.0,0.0,0.0,0.0,1.0
4,king,0.0,1.0,0.0,0.0,1.0
5,williams,0.0,0.0,0.0,1.0,1.0
6,0kharitonenko,0.0,0.0,0.0,1.0,1.0
7,1amirthanayagam,1.0,0.0,0.0,0.0,1.0
8,4r,0.0,0.0,0.0,1.0,1.0
9,77348 dancing rochanavibhata,1.0,0.0,0.0,0.0,1.0
10,a de feria,0.0,1.0,0.0,0.0,1.0
11,a de fernandez,0.0,1.0,0.0,0.0,1.0
12,a f r stephenson,0.0,0.0,0.0,1.0,1.0
13,a felix,0.0,1.0,0.0,0.0,1.0
14,a ghaffar,0.0,0.0,0.0,1.0,1.0

In [8]:
races = sorted(sdf.race.unique().tolist())
races

['asian', 'hispanic', 'nh_black', 'nh_white']

In [9]:
def calc_prop(row):
    total = row['total_n']
    values = [(i/total) for i in row]
    return pd.Series(values)

In [10]:
# Calculate the proportion of people with a particular last name
#  that identify with one of the 4 races
temp = races.copy()
temp.append('total_n')

gdf[temp] = gdf[temp].apply(calc_prop, axis=1)

In [11]:
def get_race_idx(val, races):
    race_idx = races.index(val)
    return race_idx

In [12]:
gdf['true_race'] = gdf[races].idxmax(axis=1)
gdf['true_race'] = gdf['true_race'].apply(lambda c: get_race_idx(c,races))

In [13]:
gdf

race,name_last,asian,hispanic,nh_black,nh_white,total_n,true_race
0,fleurime michel,0.0,0.0,1.0,0.0,1.0,2
1,franklin,0.0,0.0,1.0,0.0,1.0,2
2,grant cliatt,0.0,0.0,1.0,0.0,1.0,2
3,hassan,1.0,0.0,0.0,0.0,1.0,0
4,king,0.0,1.0,0.0,0.0,1.0,1
...,...,...,...,...,...,...,...
849821,zyzanski,0.0,0.0,0.0,1.0,1.0,3
849822,zyzdryn,0.0,0.0,0.0,1.0,1.0,3
849823,zyznomyrsky,0.0,0.0,0.0,1.0,1.0,3
849824,zzaman,1.0,0.0,0.0,0.0,1.0,0
849825,zzie,0.0,0.0,0.0,1.0,1.0,3

## Data Processing

In [14]:
proto_df = gdf.groupby('true_race', group_keys=False).apply(lambda x: x.sample(frac=.01, random_state=10))
proto_df.reset_index(inplace=True)
proto_df.drop('index', axis=1, inplace=True)
proto_df.shape

(8499, 7)

In [15]:
# Check that our sampling has generated proportionate representation in all classes
proto_df.true_race.value_counts()

3    5165
1    2140
2     885
0     309
Name: true_race, dtype: int64

In [16]:
NGRAMS = 2
feature_len = 25

In [17]:
# build n-gram list
vect = CountVectorizer(analyzer='char', max_df=0.3, min_df=3, ngram_range=(NGRAMS, NGRAMS), lowercase=False) 
tfidf_transformer = TfidfTransformer()

# **********
# **** CHANGE THIS TO FULL DATAFRAME WHEN READY FOR FULL DATASET ****
a = vect.fit_transform(proto_df.name_last) 
tfidf = tfidf_transformer.fit_transform(a)
# **********

vocab = vect.vocabulary_

In [18]:
# sort n-gram by freq (highest -> lowest)
words = []
for b in vocab:
    c = vocab[b]
    words.append((a[:, c].sum(), b))

words_list = [w[1] for w in words]
num_words = len(words_list)
print("num_words = %d" % num_words)

num_words = 581

In [19]:
def find_ngrams(text, n):
    a = zip(*[text[i:] for i in range(n)])
    wi = []
    for i in a:
        w = ''.join(i)
        try:
            idx = words_list.index(w)
        except:
            idx = 0
        wi.append(idx)
    return wi

In [20]:
# build tf-idf vectors
proto_df['tfidf'] = tfidf.toarray().tolist()

In [21]:
proto_df

race,name_last,asian,hispanic,nh_black,nh_white,total_n,true_race,tfidf
0,adichirayil,1.0,0.000000,0.0,0.000000,1.0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,morillo encisco,1.0,0.000000,0.0,0.000000,1.0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.4001901060838748, ..."
2,hular,1.0,0.000000,0.0,0.000000,1.0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,fuze,0.5,0.000000,0.0,0.500000,1.0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,balasingam,1.0,0.000000,0.0,0.000000,1.0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...,...,...,...,...,...
8494,wals,0.0,0.000000,0.0,1.000000,1.0,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
8495,judelle,0.0,0.000000,0.0,1.000000,1.0,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
8496,grandjean,0.0,0.000000,0.0,1.000000,1.0,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
8497,des plaines,0.0,0.000000,0.0,1.000000,1.0,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
8498,semel,0.0,0.053571,0.0,0.946429,1.0,3,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

In [22]:
train_df, test_df = train_test_split(proto_df, test_size=.05)
train_df, valid_df = train_test_split(train_df, test_size=.05)

train_df.reset_index(inplace=True)
valid_df.reset_index(inplace=True)
test_df.reset_index(inplace=True)

print('Training set size: {}'.format(train_df.shape))
print('Validation set size: {}'.format(valid_df.shape))
print('Test set size: {}'.format(test_df.shape))

Training set size: (7670, 9)
Validation set size: (404, 9)
Test set size: (425, 9)

In [30]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [38]:
%reload_ext autoreload

In [39]:
result = check_k(valid_df[:20], train_df, 3, 0.6)

mugherini --  <class 'pandas.core.series.Series'>
**** [11  6] ****
perdok --  <class 'pandas.core.series.Series'>
**** [12 12 15 10 10 13 10 10 13  7 13  9  7  7  7  7  8 12  9  9  6  5 12  8
 14 13  8  7  7  8  8  7  6 13  6  6 10 11  8 10 11  9  5 10  6 10  6 12
 11  5  6  6  4  6  9 11 11  8  9 12 12 13  7  5 12  9 14  6  5  5  7  5
  6  7  8  7 10  6  8 12  7  8  7  5  8  7  4  4  6  8  9  3  6 12  6  3
 12  8  9 11 14 15 13 17  8  7  6 13  7  6 10 12  7  7  9  9  5  7 10 11
 10 12 13 13 10 10 10 10 11  8  5 11  5 11  3  5  8 11 11  3 12 12  4 13
 11 11  4  7 11 10  5  5 16 13 11  9  8  5 10  7 10  8  8  5  9  9 15 10
 14  7  7  9 11 13 13  4  5 12 13 11  6 12 13  6  8 16 12  5  5  4  8  6
  4 10  9 12  6 11 11  7  6 11 11 15 12  4 12  7  5  7 15 14 11 10 13  7
  6  5 10  8 10  2  4  7  7 16  6 10 12  8  4  8 12  7  9  9 10  8 10  4
  3 13  9 10  9  5  9 11 16 11  9 10 11  7 10 12  5  8  4 18  7 17 10 10
  7 13  5 13  8 10  3  7 10 10  5 10  4 15  4 12 12  6 12  6 10 15  9  6
 10 15  7  6 14 10  6 14  8 10  7  4 10 11 11 13  9 13  8  9 10 12 12 14
 10  7 12  8  7 12 10  7  6  7  5  5 13 12  3  4 13 13  8 13  9  8  8 11
 10 14 13  5 10  6 11  7 11  5  5  9  5  8  6  6 13 11 16 10 12  9 11 13
 10 11  4 10 12 10  9 11  7  5 13 10  7  8  8  6  7  7  5  7 13  4 16  4
 13 17 11 11  5 11  4 14 11 12  8 11 12 14 10 13  7 10 10 10  7 11  6 11
 11 13 10  6  6 11  9 13 13  9 14  3 13 12  4 13 14  9  6  8 11 14  7  8
  4 10 10 14  5 14 10 12  8 13 10  5  6 13 11  6  4  8 11 10  6 10  8  9
  5  5  9  6 10  4  4  9  6  5  6  5  5 11  5  5  7 11  8  9 12 11 10  3
  7 15 12  6 11 15  6  4  8  9  8  3 10  4 11  8 13  7 15  7  5  7  9  6
  3 16  9  5  5 11 15 11  8  8 10  7  7  9 10 10  6  6 10  8  6 12  9 10
 11  9  4  5  8 12  6  8  5  5  4  8  6  4  6 16 12 14  6 11  4  6  5 12
  4 10  9 12  9  9 12  3 12  5  5  4 14  6 12  5 15  8  5  6  7  8 12 10
  9  7  8  6  7 10  9 14  6  9  5  5  7 12  5  5 13 13 11  9 16  7  9  9
 14  4  8  7  4 10 17 10 11  6  5 10  7  7  6 11 12 11 13 14  6 12 11  9
  9  3  6  9  5 12  5  9  6 10  6  9 12  6  7 11 12 20  6 11 10  6  7 12
  6  9  8 11  9  9 11 15  4  6  9 15 12  7 11  9  7 11  8 10 14  6  4 14
  9  9  8  5 14 10 12 10 14  5  9  7 13 12 11 12  9  6  6 13 16  7 11 11
  9 10  6  8 14  6  5  7 11 11  9 11 11 10  6 17  7  3  4 10 13  4  8  5
  3 14  5 14 13  6  7 12  8 12 11 12 10 11  9 11 10  8  7  9  6  9 10 10
  3  4  8 12  8  9  4  4  9 12  6  9  9 12  6 15 16 13  7  5  7 12  6 11
 11 10 12 12  6  6  9  3  5 12  9 12  5 13 11  6 14 12  8  5 13 12 10 12
  7] ****
perdok --  <class 'str'>
perdok --  <class 'pandas.core.series.Series'>
**** [12 12 15 10 10 13 10 10 13  7 13  9  7  7  7  7  8 12  9  9  6  5 12  8
 14 13  8  7  7  8  8  7  6 13  6  6 10 11  8 10 11  9  5 10  6 10  6 12
 11  5  6  6  4  6  9 11 11  8  9 12 12 13  7  5 12  9 14  6  5  5  7  5
  6  7  8  7 10  6  8 12  7  8  7  5  8  7  4  4  6  8  9  3  6 12  6  3
 12  8  9 11 14 15 13 17  8  7  6 13  7  6 10 12  7  7  9  9  5  7 10 11
 10 12 13 13 10 10 10 10 11  8  5 11  5 11  3  5  8 11 11  3 12 12  4 13
 11 11  4  7 11 10  5  5 16 13 11  9  8  5 10  7 10  8  8  5  9  9 15 10
 14  7  7  9 11 13 13  4  5 12 13 11  6 12 13  6  8 16 12  5  5  4  8  6
  4 10  9 12  6 11 11  7  6 11 11 15 12  4 12  7  5  7 15 14 11 10 13  7
  6  5 10  8 10  2  4  7  7 16  6 10 12  8  4  8 12  7  9  9 10  8 10  4
  3 13  9 10  9  5  9 11 16 11  9 10 11  7 10 12  5  8  4 18  7 17 10 10
  7 13  5 13  8 10  3  7 10 10  5 10  4 15  4 12 12  6 12  6 10 15  9  6
 10 15  7  6 14 10  6 14  8 10  7  4 10 11 11 13  9 13  8  9 10 12 12 14
 10  7 12  8  7 12 10  7  6  7  5  5 13 12  3  4 13 13  8 13  9  8  8 11
 10 14 13  5 10  6 11  7 11  5  5  9  5  8  6  6 13 11 16 10 12  9 11 13
 10 11  4 10 12 10  9 11  7  5 13 10  7  8  8  6  7  7  5  7 13  4 16  4
 13 17 11 11  5 11  4 14 11 12  8 11 12 14 10 13  7 10 10 10  7 11  6 11
 11 13 10  6  6 11  9 13 13  9 14  3 13 12  4 13 14  9  6  8 11 14  7  8
  4 10 10 14  5 14 10 12  8 13 10  5  6 13 11  6  4  8 11 10  6 10  8  9
  5  5  9  6 10  4  4  9  6  5  6  5  5 11  5  5  7 11  8  9 12 11 10  3
  7 15 12  6 11 15  6  4  8  9  8  3 10  4 11  8 13  7 15  7  5  7  9  6
  3 16  9  5  5 11 15 11  8  8 10  7  7  9 10 10  6  6 10  8  6 12  9 10
 11  9  4  5  8 12  6  8  5  5  4  8  6  4  6 16 12 14  6 11  4  6  5 12
  4 10  9 12  9  9 12  3 12  5  5  4 14  6 12  5 15  8  5  6  7  8 12 10
  9  7  8  6  7 10  9 14  6  9  5  5  7 12  5  5 13 13 11  9 16  7  9  9
 14  4  8  7  4 10 17 10 11  6  5 10  7  7  6 11 12 11 13 14  6 12 11  9
  9  3  6  9  5 12  5  9  6 10  6  9 12  6  7 11 12 20  6 11 10  6  7 12
  6  9  8 11  9  9 11 15  4  6  9 15 12  7 11  9  7 11  8 10 14  6  4 14
  9  9  8  5 14 10 12 10 14  5  9  7 13 12 11 12  9  6  6 13 16  7 11 11
  9 10  6  8 14  6  5  7 11 11  9 11 11 10  6 17  7  3  4 10 13  4  8  5
  3 14  5 14 13  6  7 12  8 12 11 12 10 11  9 11 10  8  7  9  6  9 10 10
  3  4  8 12  8  9  4  4  9 12  6  9  9 12  6 15 16 13  7  5  7 12  6 11
 11 10 12 12  6  6  9  3  5 12  9 12  5 13 11  6 14 12  8  5 13 12 10 12
  7] ****
perdok --  <class 'str'>
**** [] ****
domineck --  <class 'pandas.core.series.Series'>
**** [12  7 17 ...  5  6 12] ****
domineck --  <class 'str'>
domineck --  <class 'pandas.core.series.Series'>
**** [12  7 17 ...  5  6 12] ****
domineck --  <class 'str'>
**** [] ****
elbeyrouty --  <class 'pandas.core.series.Series'>
**** [11  8  9 10 14 14  9  7  6  8  8  8  8  9 13 10  8  9  9  8  8  7  8  7
 12  8  9  7  7  8  8  8  7  8  7 12  9 13 10  8  6  8  8  9 12  7 12  9
  8  7  8  9  8  9  7 14  8  6  8 13  8 14  6  8 10  8 11  8  9 12  9  7
  7 11 11 12 14  8  7  8 10  9  8 10 10 10  8 12 12  5  9 12 10  8  9  8
  9  8  8 13 12  7  7  7  8  8  6 10 10  8  8  9 10  8 10 10  9 20 12  8
 12  9  6 12  7  7  7  8 15  7  8 10 10 11 13  8  8  9 15  7 11 11  7 15
  7  8  8  9  6  7 10 10 14  8 15  8  8  9  9  7  8  7 10 13 10 10  9 12
  8  9 14  8  8 11  7  8  9  8 11 10  8  8 12 13  8 10  7 11  8  7  6  8
  8 10  8  9  8  9  9  9  9  7 10  8  8 10 12 11  8  8  8 10  6  7  9 11
  8  8  9  7 13  8 12  7  7  9 15  6 13  8  9  9  9  8 10  7 10  8  9  7
  7  8  8  8  9  6  8  8  7 12  8 10 15 11  8  6  9  9  8  9  7  8 15  7
  9  7  8  9  8 10 10  8  9 12 10  7 14  6 13  9  7 11 15  9 12  7  7 10
  9  6  9 15 11  8 10  8 12  8  9 10 13  7 10  8  6 11 13  8 13  8 11 15
  7  7  8  9  9 11  9  7  9  9  8 10  9 11  7 11  8  8  9  9  8 10  8  9
  9  8 14 15  7 15  9 12  7  8  9 10 11 11 13  8  7  9 12  7  7 11  8 11
  8 12 10  7  8  8  8  7  9 12  8 15  9  7 12  9  8  8  6 11  8  9  9 13
  9  6  8 12  7 12  8 10  8 10  8 15  8 12  8  8 10  8  7  8  8 10  8  6
  9  9 14  8 10  9  9 10  8 14  9  8  7  8 16  8  7  9  7  9 11 13  7  8
  8 12  9  9  9  7  8  9  9  7  9  9 11  8 11  9  7  9  9  7  8  8  9 14
  9  8  9 10  7 12  8  8  8 14  7  9 12  9  8  8  7 12  9  9  9 10  8  8
  6  9  9  8 10 10  9  7  7  8 11 11 12 10  7 12  9  9  7 11 12  9  9  9
  9  9  7 13  7  7  8 12  9  8 10 11  8  8  6  9  9  7  8  9 13  7 12  8
 11 10  9 13 10  8  8  8  8  9 10  8  9  8 14  9  9  8  8 13  8  8  9  8
  9  8 12  8  9 11 10  7  7 12  8  8  9  9  8  7  9  8  7 11  9  6  6  8
  8  8  8 12  8  7  9  8 11 10  8 10 12  7 12  8  8  8  9  6  8 10  9  9
  9  7  9  8  8  9 12  8  9  8  8  9  9 12  9  8 12 14 13 14  9 10  7 12
  7] ****
elbeyrouty --  <class 'str'>
elbeyrouty --  <class 'pandas.core.series.Series'>
**** [11  8  9 10 14 14  9  7  6  8  8  8  8  9 13 10  8  9  9  8  8  7  8  7
 12  8  9  7  7  8  8  8  7  8  7 12  9 13 10  8  6  8  8  9 12  7 12  9
  8  7  8  9  8  9  7 14  8  6  8 13  8 14  6  8 10  8 11  8  9 12  9  7
  7 11 11 12 14  8  7  8 10  9  8 10 10 10  8 12 12  5  9 12 10  8  9  8
  9  8  8 13 12  7  7  7  8  8  6 10 10  8  8  9 10  8 10 10  9 20 12  8
 12  9  6 12  7  7  7  8 15  7  8 10 10 11 13  8  8  9 15  7 11 11  7 15
  7  8  8  9  6  7 10 10 14  8 15  8  8  9  9  7  8  7 10 13 10 10  9 12
  8  9 14  8  8 11  7  8  9  8 11 10  8  8 12 13  8 10  7 11  8  7  6  8
  8 10  8  9  8  9  9  9  9  7 10  8  8 10 12 11  8  8  8 10  6  7  9 11
  8  8  9  7 13  8 12  7  7  9 15  6 13  8  9  9  9  8 10  7 10  8  9  7
  7  8  8  8  9  6  8  8  7 12  8 10 15 11  8  6  9  9  8  9  7  8 15  7
  9  7  8  9  8 10 10  8  9 12 10  7 14  6 13  9  7 11 15  9 12  7  7 10
  9  6  9 15 11  8 10  8 12  8  9 10 13  7 10  8  6 11 13  8 13  8 11 15
  7  7  8  9  9 11  9  7  9  9  8 10  9 11  7 11  8  8  9  9  8 10  8  9
  9  8 14 15  7 15  9 12  7  8  9 10 11 11 13  8  7  9 12  7  7 11  8 11
  8 12 10  7  8  8  8  7  9 12  8 15  9  7 12  9  8  8  6 11  8  9  9 13
  9  6  8 12  7 12  8 10  8 10  8 15  8 12  8  8 10  8  7  8  8 10  8  6
  9  9 14  8 10  9  9 10  8 14  9  8  7  8 16  8  7  9  7  9 11 13  7  8
  8 12  9  9  9  7  8  9  9  7  9  9 11  8 11  9  7  9  9  7  8  8  9 14
  9  8  9 10  7 12  8  8  8 14  7  9 12  9  8  8  7 12  9  9  9 10  8  8
  6  9  9  8 10 10  9  7  7  8 11 11 12 10  7 12  9  9  7 11 12  9  9  9
  9  9  7 13  7  7  8 12  9  8 10 11  8  8  6  9  9  7  8  9 13  7 12  8
 11 10  9 13 10  8  8  8  8  9 10  8  9  8 14  9  9  8  8 13  8  8  9  8
  9  8 12  8  9 11 10  7  7 12  8  8  9  9  8  7  9  8  7 11  9  6  6  8
  8  8  8 12  8  7  9  8 11 10  8 10 12  7 12  8  8  8  9  6  8 10  9  9
  9  7  9  8  8  9 12  8  9  8  8  9  9 12  9  8 12 14 13 14  9 10  7 12
  7] ****
elbeyrouty --  <class 'str'>
**** [] ****
delrosairo --  <class 'pandas.core.series.Series'>
**** [11  8  8 ...  9 10  6] ****
delrosairo --  <class 'str'>
delrosairo --  <class 'pandas.core.series.Series'>
**** [11  8  8 ...  9 10  6] ****
delrosairo --  <class 'str'>
**** [] ****
von waltsleben --  <class 'pandas.core.series.Series'>
**** [11 10 10 10 12 13 13 12 11 13 14 14 11 11 11 12  8 12 12 11 13 15 11 13
 11 14 10 13 11 12 14 12 12 12 11 13 11 12 11 14 12 11 12 10  9 11 10 11
 10 11 11 13 11 14 13 11 10 10 12 17 13 12 13 11 15 12 13 11 12 11 11 12
 13 13  5 13 10 13 12 11 13 13 10 13 15 11 12 11 12 12 13 11 12 12 14 14
  8  9 10 13 13 13 12 12 13 14 12 12 13 12 11  7 11 13 13 14 12 13 11 14
 14 10 12 11 10 10 14 14 12 10 14 13 13 12 11 12 14 11 12 11 13 11 10 10
 12 11 10 14 11 11 12 13 14 12 12 12 13  8 14 14 12  8 11 12 13 13 12 13
 12 12 11 12 14 12 11 12 13 11 11 11 10 13 12 14  9 11 10 12 10 11 11 11
 12 10 12 11 13 11 11 12  9 14 12 13 12 12 11 13 12 12 14 12 12  9 12 12
 13 13 12 11 10 13 14 15 13 11 13 11 10 13 12 10 14 13 14 12 12  9 10 10
 11 12 11 14 11 12 10 13 12 10 14 11 10  9 11 12 14 11 11 14 10 13  9  9
 11 12 12 14  9 15 10 10 12 12 11 10 13 13 13 13 15 14 13  9 14 10 10 10
 13  8 11 10 12 10 11 11 14 13 11 10 12  8 10 10 13 10 11 17 14 11 12 12
 12 11  9 11 13 12 12 13 12 10 11 11 11 13 12 14 11 14 15 12 17 11 15 16
 13 10 13 12 12 13 11 10 11 11 12 11  9 10 12 12 10 13 10 13 11 11 17 12
 11 12 13  9 12  9 11 12 10 12 10 13 10 13 13 11 14 12 14 13 11 11 12 11
 13 13 13 13 12 12 13 12 12 13 13 14 12 13 12 12 12 11  9 14 11 12 11 11
  8 13 13 13 10 13 11  8 12 12 13 11 14 10  9 13 12 12 11 10 12  6 10 11
 11 11  9 13 12 10 12 15 12 11 15 11 11 13 13 13 10 12 13 13 11 11 13 12
 15 12 11 11 11 12 12 15 11 14 12 11 12 10 12 11 14 11 10 11 13 11 15 11
 10 13 13 12 11 13 13 12 11 12 14 12 11 12 11 13 10 11 10 11 12 12 11 11
 11 13 12 12 10 10 12 12 11 12 12 13  9 11 13 13 12 11 16 13 12 13 13 10
 12 12 12 11 10 11 14 10 11 12 12 11 10 10  9 12 10 13 13 12 11 11 13 13
 13 12 11 12 11 13 12 12 15 11 10 12 15 14 13 11 10 10 11 11 11 13 11  9
 13 13 10  9 12 10 10 14 11 13  9 12 12 14 10 13 10 11 15 14 10 11 13 11
 10 11 11 10 13 14 11 11 11 12 11 13 10 10 11 11 10 11 12 12 11 13 11 14
 13 11 13 12 14 11 14 12 12  9 12 10 11 14 12 15 10 12 13 10 10 12 10 11
 12 14 10 11 11 11 15 11 12 12 10 12 12 11 11 10 13 12 11 13 13 12 11 15
 12 13 10  9 13 10 12 10 13 11 14 14 12  9 11 11 13 13 11 12 13 11 11 11
 11 11 13 12 14 12 10 13 13  8 12 16 13 14 13 12 12 11 14 12 12 11 13 13
 11 12  8 12 13 13 11 12 12  9 12 10 11 12 11 13 15 12 11 12 12 11 13 10
 12 14  8 12 12 10 11 12 12 13 13 11 12 12 12 13 13 12 11 14 13 11 13 12
 12 13 12 11 14 10 12 12 10 10 13 12 10 14 13  9 14 11 15 11 12 12 15 12
 10 12 10 10 11 13 12 13 13 14 10 11 10 11 12 12 10 14 10 13 12 12 11 12
 13 12 10 12 13 12 10 12 12 11 11 12 12  9 12 10 11 10 12 11 10 11 10 12
 16 10 12 13 10 15 13 11] ****
von waltsleben --  <class 'str'>
von waltsleben --  <class 'pandas.core.series.Series'>
**** [11 10 10 10 12 13 13 12 11 13 14 14 11 11 11 12  8 12 12 11 13 15 11 13
 11 14 10 13 11 12 14 12 12 12 11 13 11 12 11 14 12 11 12 10  9 11 10 11
 10 11 11 13 11 14 13 11 10 10 12 17 13 12 13 11 15 12 13 11 12 11 11 12
 13 13  5 13 10 13 12 11 13 13 10 13 15 11 12 11 12 12 13 11 12 12 14 14
  8  9 10 13 13 13 12 12 13 14 12 12 13 12 11  7 11 13 13 14 12 13 11 14
 14 10 12 11 10 10 14 14 12 10 14 13 13 12 11 12 14 11 12 11 13 11 10 10
 12 11 10 14 11 11 12 13 14 12 12 12 13  8 14 14 12  8 11 12 13 13 12 13
 12 12 11 12 14 12 11 12 13 11 11 11 10 13 12 14  9 11 10 12 10 11 11 11
 12 10 12 11 13 11 11 12  9 14 12 13 12 12 11 13 12 12 14 12 12  9 12 12
 13 13 12 11 10 13 14 15 13 11 13 11 10 13 12 10 14 13 14 12 12  9 10 10
 11 12 11 14 11 12 10 13 12 10 14 11 10  9 11 12 14 11 11 14 10 13  9  9
 11 12 12 14  9 15 10 10 12 12 11 10 13 13 13 13 15 14 13  9 14 10 10 10
 13  8 11 10 12 10 11 11 14 13 11 10 12  8 10 10 13 10 11 17 14 11 12 12
 12 11  9 11 13 12 12 13 12 10 11 11 11 13 12 14 11 14 15 12 17 11 15 16
 13 10 13 12 12 13 11 10 11 11 12 11  9 10 12 12 10 13 10 13 11 11 17 12
 11 12 13  9 12  9 11 12 10 12 10 13 10 13 13 11 14 12 14 13 11 11 12 11
 13 13 13 13 12 12 13 12 12 13 13 14 12 13 12 12 12 11  9 14 11 12 11 11
  8 13 13 13 10 13 11  8 12 12 13 11 14 10  9 13 12 12 11 10 12  6 10 11
 11 11  9 13 12 10 12 15 12 11 15 11 11 13 13 13 10 12 13 13 11 11 13 12
 15 12 11 11 11 12 12 15 11 14 12 11 12 10 12 11 14 11 10 11 13 11 15 11
 10 13 13 12 11 13 13 12 11 12 14 12 11 12 11 13 10 11 10 11 12 12 11 11
 11 13 12 12 10 10 12 12 11 12 12 13  9 11 13 13 12 11 16 13 12 13 13 10
 12 12 12 11 10 11 14 10 11 12 12 11 10 10  9 12 10 13 13 12 11 11 13 13
 13 12 11 12 11 13 12 12 15 11 10 12 15 14 13 11 10 10 11 11 11 13 11  9
 13 13 10  9 12 10 10 14 11 13  9 12 12 14 10 13 10 11 15 14 10 11 13 11
 10 11 11 10 13 14 11 11 11 12 11 13 10 10 11 11 10 11 12 12 11 13 11 14
 13 11 13 12 14 11 14 12 12  9 12 10 11 14 12 15 10 12 13 10 10 12 10 11
 12 14 10 11 11 11 15 11 12 12 10 12 12 11 11 10 13 12 11 13 13 12 11 15
 12 13 10  9 13 10 12 10 13 11 14 14 12  9 11 11 13 13 11 12 13 11 11 11
 11 11 13 12 14 12 10 13 13  8 12 16 13 14 13 12 12 11 14 12 12 11 13 13
 11 12  8 12 13 13 11 12 12  9 12 10 11 12 11 13 15 12 11 12 12 11 13 10
 12 14  8 12 12 10 11 12 12 13 13 11 12 12 12 13 13 12 11 14 13 11 13 12
 12 13 12 11 14 10 12 12 10 10 13 12 10 14 13  9 14 11 15 11 12 12 15 12
 10 12 10 10 11 13 12 13 13 14 10 11 10 11 12 12 10 14 10 13 12 12 11 12
 13 12 10 12 13 12 10 12 12 11 11 12 12  9 12 10 11 10 12 11 10 11 10 12
 16 10 12 13 10 15 13 11] ****
von waltsleben --  <class 'str'>
**** [] ****
mcclendon-brooks --  <class 'pandas.core.series.Series'>
**** [12 12 14 13 12 16 13 14 13 13 16 12 14 14 13 12 12 12 13 15 13 13 14 15
 14 12 14 12 11 14 11 13 13 15 12 14 15 11 12 13 13 15 12 12 14 11 14 15
 13 14 12 15 11 15 11 13 15 10 13 11 12 15 13 16 14 15 11 12 12 13 13 13
 13 11 14 16 13 12 11 11 13 12 14 14 15 14 14 11 13 12 14 12 14 15 16 15
 13 12 12 13  8 15 12 13 12 11 13 13 15 11 11 11 11 13 13 12 15 14 14 15
 11 13 15 14 11 11 16 12 13 13 15 14 12 12 13 15 13 13 13 14 13 15 14 15
 11 12 16 13 15 13 13 10 13 12 12 12 12 15 15 15 12 16 13 14 14 15 15 14
 13 14 11 11 14 13 14 12 15 11 10 13 14 13 12 15 13 13 15 15 13 11 14 15
 13 13 13 13 11 13 12 14 13 11 13 13 13 12 13 14 13 14 14 12 15 13 13 10
 13 12 15 13  9 13 12 14 12 14 13 13 12 16 14 13 11 13 12 12 12 12 13 15
 14 13 11 11 18 14 12 11 13 14 13 13 14 14 13 13 13 12 14 12 13 14 14 14
 11 13 11 12 15 12 14 13 14 12 14 16 12 13 13 13 12 13 12 13 13 12 14 12
 12 11 14 16 12 14 13 14 14 13 18 15 13 11 14 12 12 17 13 14 12 14 14 15
 12 11 12 14 13  9 13 13 12 13 12 14 14 13 12 17 15 11 14 16 13 13 11 10
 15 11 12 13 14 12 15 12 14 13  9 11 16 12 12 12 12 13 14 12 13 12 14 13
 16 14 15 13 13 12 12 12 14 13 14 14 14 14 13 14 15 12 13 14 15 15 10 13
 16 11 14 13 13 13 13 13 15 15 13 12 11 12 11 13 12 10 10 13 11 14 13 14
  9 11 14 14 12 15 13 11 13 14 15 11 14 12 13 16 14 13 11 10 13 13 10 14
 12 13 12 14 14 12 13 14 12 15 11 12 14 12 15 15 14 13 13 15 12 13 14 15
 12 13 14 12 12 11 14 11 10  9 13 13 15 12 15 13 12 15 13 13 14 12 13 14
 16 14 12 13 13 14 14 12 14 12 15 13 15 16 15 16 14 14 13 13 13 12 14 12
 14 14 11 16 13 13 12 12 13 15 13 14 15 12 12 12 13 16 15 14 12 10 13 11
 15 13 15 13 11 13 15 15 12 12 14 11 13 11 14 12 12 14 15 13 16 12 12 13
 13 12 15 14 15 12 14 16 13 14 14 11 15 12 12 12 15 14 12 13 12 13 13 12
 12 10 12 13 16 13 14 13 13 11 14 12 13 14 12 14 14 11 14 12 10 11 11 12
 14 14 13 13 14 12 12 12 13 11 10 13 11 12 12 14 13 11 13 13 12 11 11 14
 13 14 13 15 13 12 12 13 14 14 15 16 15 13 11 13 11 13 13 14 13 14 13 11
 13 13 14 13 14 16 10 14 11 16 11 13 13 14 13 14 12 13 14 14 12 12 12 11
 11 11 14 11 13 12 12 13 13 12 13 13 10 15 12 15 14 14 16 14 13 10 12 13
 12 14 14 14 13 16 15 12 15 12 13 13 14 15 13 15 12 13 15 12 11 13 14 16
 13 14 12 10 13 13 11 12 13 12 13 11 13 13 14 13 13 13 12 12 14 15 14 13
 14 14 13 11 12 16 12 14 14 11 12 12 12 13 13 13 11 12 15 14 12 14 12  9
 13 13 13 14 13 11 13 13 14 12 13 12 12 12 14 13 14 12 13 15 15 14 13 11
 13 13 12 11 11 14 13 12 10 15 13 14 11 13 14 12 13 12 12 11 11 15 15 13
 13 13 11 14 12 14 16 11 13 16 13 10 18 13 12 14 13 12 14 12 14 14 15 13
 14 15 15 13 12 12 13 14 13 13 12 13 15 14 10 13 11 15 13 12 13 14 12 12
 15 14 17 13 14 13 14 13 12 14 14 13 13 13 15 12 13 11 13 13 12 14 12 13
 15 12 13 14 11 12 13 14 11 13 13 12 13 13 11 14 11 10 14 15 14 14 11 14
 13 12 12 13 15 13 13 13 12 14 12 12 12 14 14 12 10 15 11 12 13 14 14 12
 13 14 13 14 13 13 14 11 12] ****
mcclendon-brooks --  <class 'str'>
mcclendon-brooks --  <class 'pandas.core.series.Series'>
**** [12 12 14 13 12 16 13 14 13 13 16 12 14 14 13 12 12 12 13 15 13 13 14 15
 14 12 14 12 11 14 11 13 13 15 12 14 15 11 12 13 13 15 12 12 14 11 14 15
 13 14 12 15 11 15 11 13 15 10 13 11 12 15 13 16 14 15 11 12 12 13 13 13
 13 11 14 16 13 12 11 11 13 12 14 14 15 14 14 11 13 12 14 12 14 15 16 15
 13 12 12 13  8 15 12 13 12 11 13 13 15 11 11 11 11 13 13 12 15 14 14 15
 11 13 15 14 11 11 16 12 13 13 15 14 12 12 13 15 13 13 13 14 13 15 14 15
 11 12 16 13 15 13 13 10 13 12 12 12 12 15 15 15 12 16 13 14 14 15 15 14
 13 14 11 11 14 13 14 12 15 11 10 13 14 13 12 15 13 13 15 15 13 11 14 15
 13 13 13 13 11 13 12 14 13 11 13 13 13 12 13 14 13 14 14 12 15 13 13 10
 13 12 15 13  9 13 12 14 12 14 13 13 12 16 14 13 11 13 12 12 12 12 13 15
 14 13 11 11 18 14 12 11 13 14 13 13 14 14 13 13 13 12 14 12 13 14 14 14
 11 13 11 12 15 12 14 13 14 12 14 16 12 13 13 13 12 13 12 13 13 12 14 12
 12 11 14 16 12 14 13 14 14 13 18 15 13 11 14 12 12 17 13 14 12 14 14 15
 12 11 12 14 13  9 13 13 12 13 12 14 14 13 12 17 15 11 14 16 13 13 11 10
 15 11 12 13 14 12 15 12 14 13  9 11 16 12 12 12 12 13 14 12 13 12 14 13
 16 14 15 13 13 12 12 12 14 13 14 14 14 14 13 14 15 12 13 14 15 15 10 13
 16 11 14 13 13 13 13 13 15 15 13 12 11 12 11 13 12 10 10 13 11 14 13 14
  9 11 14 14 12 15 13 11 13 14 15 11 14 12 13 16 14 13 11 10 13 13 10 14
 12 13 12 14 14 12 13 14 12 15 11 12 14 12 15 15 14 13 13 15 12 13 14 15
 12 13 14 12 12 11 14 11 10  9 13 13 15 12 15 13 12 15 13 13 14 12 13 14
 16 14 12 13 13 14 14 12 14 12 15 13 15 16 15 16 14 14 13 13 13 12 14 12
 14 14 11 16 13 13 12 12 13 15 13 14 15 12 12 12 13 16 15 14 12 10 13 11
 15 13 15 13 11 13 15 15 12 12 14 11 13 11 14 12 12 14 15 13 16 12 12 13
 13 12 15 14 15 12 14 16 13 14 14 11 15 12 12 12 15 14 12 13 12 13 13 12
 12 10 12 13 16 13 14 13 13 11 14 12 13 14 12 14 14 11 14 12 10 11 11 12
 14 14 13 13 14 12 12 12 13 11 10 13 11 12 12 14 13 11 13 13 12 11 11 14
 13 14 13 15 13 12 12 13 14 14 15 16 15 13 11 13 11 13 13 14 13 14 13 11

In [40]:
for i in result:
    print(i.get())

ValueError: zero-size array to reduction operation maximum which has no identity

# Find K smallest values
i.e. the nearest k neighbors in our vector

In [ ]:
valid_df['pred_race'] = pd.Series(int)

In [ ]:
k_metrics = {
    3:0,
    5:0,
    7:0,
}

In [ ]:
pool_key = list(k_metrics.keys())

In [ ]:
result_list = []
def log_result(result):
    result_list.append(result)

In [ ]:
if __name__ == '__main__':
    result_list1 = pool.starmap_async(check_k(valid_df,train_df,3), check_k(valid_df,train_df,5))

In [ ]:
result_list1

In [ ]:
print(result_list1.get(timeout=1))

# Test Set evaluation

In [ ]:
value = check.check_k(test_df, train_df, 3)
print ('for value of k: {} \n{}'.format(3, value))